---
import Image from "astro/components/Image.astro";
import Card from "~/components/Card.astro";
import MenuIcon from "~/components/icons/menu-icons.astro";
import { SendIcon } from "~/components/icons/send-icon";
---

<div
    class="w-full h-full flex flex-col items-streach justify-between p-8 bg-gray-800"
>
    <MenuIcon className="absolute left-4 top-4 sm:hidden" />
    <div class="flex justify-between">
        <button class="btn-secondary font-semibold">Sign up</button>
        <Image alt="Logo" src="/logo.webp" width={45} height={45} />
    </div>
    <div class="flex gap-4 flex-col items-center">
        <Image alt="Logo" src="/logo.webp" width={45} height={45} />
        <p class="font-semibold">How can i help you today?</p>
        <button class="btn-secondary px-16 font-bold">Log In </button>
    </div>
    <div
        class="flex flex-col h-auto mx-auto w-full sm:w-1/2 justify-center gap-4"
    >
        <ul role="list" class="link-card-grid">
            <Card
                href="https://docs.astro.build/"
                title="Give me a summary"
                body="of TSLA's 2023 earning report."
            />
            <Card
                href="https://docs.astro.build/"
                title="Show me the top gainers"
                body="in the tech sector this month."
            />
            <Card
                href="https://docs.astro.build/"
                title="Give me a list of top-performing"
                body="A.I related stocks in a table"
            />
            <Card
                href="https://docs.astro.build/"
                title="What is the premium  for SPY call"
                body="expiring next Friday, strike price between 450 to 500?"
            />
        </ul>
        <div class="gap-2 relative flex justify-center items-center">
            <textarea
                class="w-full h-full rounded-xl text-gray-700 p-4 text-sm font-bold"
                placeholder="Type your message..."
            >
            </textarea>
            <button class="btn p-2 text-gray-200 hover:text-gray-800 absolute right-2 bg-gray-700 dark:gray-200" >
                <SendIcon classString="w-5 h-5 " /> 
            </button>
        </div>
    </div>
</div>


<style>
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(23ch, 1fr));
        gap: 1rem;
        padding: -1;
    }
</style>