---
import Sidebar from "~/components/template/Sidebar.astro";
import { MainPage } from "~/pages/main-page";
const isUserLoggedIn = false;
---

<div class="w-screen h-screen overflow-hidden flex ">
    <aside id="aside" class="z-10 absolute sm:relative w-full sm:w-1/6 h-full">
        <Sidebar />
    </aside>
    <main class=" w-full h-full sm:w-5/6 ">
        <MainPage client:load />
    </main>
</div>

<script>
    const menuButton = document.getElementById("menu-button");
    const aside = document.getElementById("aside");
    menuButton?.addEventListener("click", () => {
        if (aside) {
            aside.style.display = aside.style.display == "none" ? "block" : "none";
        }
    })
</script>
