---
import Sidebar from "~/components/template/Sidebar.astro";
import Home from "~/pages/main-page.astro";
const isUserLoggedIn = false;
---

<div class="w-screen h-screen flex">
    <aside id="aside" class="absolute sm:relative w-full sm:w-1/6 h-full">
        <Sidebar />
    </aside>
    <main class="w-full h-full sm:w-5/6">
        <Home /> 
    </main>
    <script>
        const menuButton = document.getElementById("menu-button");
        const aside = document.getElementById("aside");
        console.log("Menu Button ", menuButton);
        menuButton?.addEventListener("click", () => {
            console.log("Menu Icon clicked");

            if (aside) {
                aside.style.display =
                    aside.style.display == "none" ? "block" : "none";
            }
        });
    </script>
</div>

